<!DOCTYPE html>
<html ng-app="app">
<head>
    <!-- <script src="node_modules/webcomponents.js/webcomponents-lite.min.js"></script> -->
    <!--^_head.html^-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>The Last Raffle Generator You'll Ever Need</title>
<meta name="description" content="The Raffler is a free raffle generator that is simple to use for your next party. Add names, specify the number of tickets, and click Pick a Winner. Done.">
<meta name="keywords" content="raffle,free,random,generator,winner,party">

<link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="style.css?v=2020-06-04T00:40:59.177Z" />

<link rel="apple-touch-icon" sizes="57x57" href="Content/favicons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="Content/favicons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="Content/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="Content/favicons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="Content/favicons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="Content/favicons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="Content/favicons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="Content/favicons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="Content/favicons/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="Content/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="Content/favicons/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="Content/favicons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="Content/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="Content/favicons/manifest.json">
<link rel="mask-icon" href="Content/favicons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="Content/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="Content/favicons/mstile-144x144.png">
<meta name="msapplication-config" content="Content/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
    
</head>
    
<body ng-controller="MainCtrl">
<script>
    if (!String.prototype.contains) {
        String.prototype.contains = function() {
            'use strict';
            return String.prototype.indexOf.apply(this, arguments) !== -1;
        };
    }    
    
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','http://www.google-analytics.com/analytics.js','ga');

    var url = document.URL;
    var noga = "noga";
    if (url.contains("set" + noga)) {
        localStorage.setItem(noga, "true");
    }
    if (url.contains("clear" + noga)) {
        localStorage.removeItem(noga);
    }
    
    var noGoogleAnalytics = url.contains(noga)
        || localStorage.getItem(noga)
        || url.contains("localhost");
    
    if (noGoogleAnalytics) {
        console.debug("Not tracking Google Analytics.");
    } else {
        console.debug("Tracking Google Analytics.");
        ga('create', 'UA-69910508-1', 'auto');
        ga('send', 'pageview');      
    }
</script>    
    <header>
        <a class="support" href="https://www.patreon.com/ianhd" target="_blank">Support the Developer (Ian) 🍺</a>
        <div class="content">
            <div class="logoContainer">
                <a class="logo" href="https://ianhd.github.io/raffler/"><img src="Content/the-raffler_logo.jpg" /></a>
            </div>
            <input class="form-control ng-cloak" placeholder="Enter a name for the raffle" ng-model="newName" ng-enter="add()" autofocus />
            <button class="btn btn-primary ng-cloak" ng-disabled="!newName" ng-click="add()">Add</button>
        </div>
        <i style="display:none;" class="fa fa-bars"></i>
    </header>
    
    <div class="winnerContainer ng-cloak group">
        <button class="btn btn-primary pull-right" ng-click="pickAWinner()" ng-show="displayedItems.length">
            <i class="fa fa-refresh text-on-right"></i>Pick a Winner!
        </button>        
        <div class="winner pull-right" ng-show="winner">
            <b>{{winner}}</b><a href="#" class="clear" ng-click="clearWinner($event)">Clear</a>
        </div>         
    </div>
    
    <table ng-show="displayedItems.length" st-table="displayedItems" st-safe-src="rawItems" class="table table-striped ng-cloak">
        <thead>
        <tr>
            <td>Name</td>
            <td># Raffles</td>
            <td><a href="#" ng-click="removeAll($event)">Remove&nbsp;all</a></td>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in displayedItems">
                <td data-th="Name">{{item.name}}</td>
                <td data-th="# Raffles" class="totalCount group paddingTopSm">
                    <button class="btn" ng-disabled="item.totalCount <= 1" ng-click="incrOrDecr($event,$index,'decr')"><i class="fa fa-minus"></i></button>
                    <input class="form-control" ng-model="item.totalCount" />
                    <button class="btn" ng-click="incrOrDecr($event,$index,'incr')"><i class="fa fa-plus"></i></button>
                </td>
                <td data-th="">
                    <a href="#" class="remove" ng-click="remove($event,$index)">Remove</a>
                </td>
            </tr>
        </tbody>      
    </table>

    <!--^_beforeEndHead.html^-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.min.js"></script>

<!-- The five thousand angular material scripts  -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-messages.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-smart-table/2.1.4/smart-table.min.js"></script>
<script src="main.js"></script>
<script src="factories.js"></script>    
</body>
</html>